<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Activate Your Account</title>
    <link rel="stylesheet" href="activatestyle.css">
</head>
<body>
<div class="container">
    <h1>Welcome to Our Service Station</h1>
    <p>Dear Customer,</p>
    <p>Thank you for choosing our store. To activate your account, please click on the button below:</p>
    <a href="{{frontUrl}}/activate?token={{token}}">Activate your account></a>
    <p>If you have any questions or need assistance, feel free to contact our customer support team.</p>
    <p>Thank you,</p>
    <p>The Clothing Store Team</p>
</div>
</body>
</html>