<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration at Clothing Store</title>
    <link rel="stylesheet" type="text/css" href="registerstyle.css">
</head>
<body>
<h1>Registration at Clothing Store</h1>
<p>Thank you for registering at our clothing store!</p>
<p>If you didn't sign up on our website, please ignore this email.</p>
<p>Best regards,</p>
<p>The Service Station Team</p>
</body>
</html>